/* ============================= */
/* NAVIGATION */
/* ============================= */
nav {
    background: #222;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Navigation Button */
.nav-button {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, opacity 0.3s;
    margin: 0 5px;
    cursor: pointer; /* This makes the logo clickable like a button */
}

.nav-button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


/* ============================= */
/* RESPONSIVE NAVIGATION */
/* ============================= */
@media (max-width: 900px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    #language-toggle {
        justify-content: center;
        margin-top: 10px;
    }
}
